
footer {
  background-color: silver;
}

footer .list__items_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  opacity: 0.5;
  line-height: 2rem;
}

footer .list__items_info > li > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
}

footer .list__items_icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

footer ul .icons {
  width: 1rem;
  height: 1rem;
}
